/.velopack/
/dist-electron/

/native/**/*.node
/native/webauthn/*.so*
/native/win-game-capture/fluxer-game-hook.*.dll
/native/win-game-capture/fluxer-inject-helper.*.exe
/native/win-game-capture/fluxer-vulkan-layer.*.dll
/native/win-game-capture/fluxer-vulkan-layer.*.json

/src/common/BuildChannel.ts
